# 필수 라이브러리
torch==2.0.1
torchvision==0.15.2
numpy==1.24.4
matplotlib==3.8.0
pydantic==1.10.12
protobuf==4.21.6
requests-oauthlib==1.2.0

# 기타 종속성
tensorflow==2.17.1
tensorflow-metadata==1.13.1
moviepy==1.0.3
anyio==3.5.0
decorator==4.1.3
librosa==0.9.1
gcsfs==2024.10.0
fastapi==0.95.1
absl-py==1.0.0
google-auth==2.27.0
grpcio-status==1.62.3
